{% extends "_base.html.j2" %}

{% block body %}
  <table class="ui center aligned table">
    <thead>
      <th>Pedido</th>
      <th>Item</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Motivo</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
        {% for return in returns %}
          {% if return.status == 'Aguardando aprovação do administrador' %}
            <tr>
              <td>{{return.order_id}}</td>
              {% if return.item.snack == None %}
              <td>{{return.item.beer.name}}</td>
              {% else %}
              <td>{{return.item.snack.name}}</td>
              {% endif %}
              <td>{{return.item.quantity}}</td>
              <td>R${{return.item.value}}0</td>
              <td>{{return.reason}}</td>
              <td>{{return.status}}</td>
              <form class="" action="{{url_for('returns')}}" method="post">
                <input type="text" name="return_id" value="{{return.id}}" hidden>
                <input type="text" name="order_id" value="{{return.order_id}}" hidden>
                <input type="text" name="value" value="{{return.item.value}}" hidden>
                <input type="text" name="quantity" value="{{return.item.quantity}}" hidden>
                <input type="text" name="item_id" value="{{return.item.id}}" hidden>
                <input type="text" name="client_id" value="{{return.order.client_id}}" hidden>
                <td><button type="submit" class="ui teal button" name="button">Aprovar</button></td>
              </form>
            </tr>
          {% endif %}
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
