{% extends "_user_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}

{% block body %}
  <table class="ui center aligned table">
    <thead>
      <th>ID#Compra</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for item in orders %}
      <tr>
        <td><a href="/buy_details/{{item.id}}">{{ item.id }}</a></td>
        <td>{{ item.order_date.date().strftime('%d/%m/%y')}}</td>
        <td>R${{ item.total_value }}0</td>
        <td>{{ item.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}
