{% extends "_user_base.html.j2" %}

{% block body %}
  <div class="ui centered grid">
    <div class="column center aligned">
      <div class="ui error floating compact message">
        Por favor, para solicitar uma troca de item você deve seguir as seguintes instruções: <br>
        <br>
        1 - Adicionar um item no carrinho; <br>
        2 - Aguardar a aprovação do administrador;<br>
        <br>
        Após os passos descritos, você deverá efetuar o pagamento adicional, caso o(s) produto(s) que você selecionou <br> sejam mais caros que o selecionado para a troca. Caso seja menor, você será ressarcido no valor restante do pagamento.
      </div>
    </div>
  </div>
{% endblock %}
