{% extends "_user_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}

{% block body %}
<form class="ui form" action="{{url_for('new_address')}}" method="post">
  <h4 class="ui dividing header">Endereço</h4>
  <div class="fields">
    <div class="six wide field">
      <label for="">Rua</label>
      <input type="text" name="street" value="">
    </div>
    <div class="two wide field">
      <label for="">Número</label>
      <input type="number" name="number" value="">
    </div>
    <div class="four wide field">
      <label for="">Bairro</label>
      <input type="text" name="district" value="">
    </div>
    <div class="four wide field">
      <label for="">Cidade</label>
      <input type="text" name="city" value="">
    </div>
    <div class="four wide field">
      <label for="">CEP</label>
      <input type="text" name="zip_code" value="">
    </div>
  </div>
  <button type="submit" name="button" class="ui blue button">Salvar</button>
  <a href="/select_address" class="ui red button">Cancelar</a>
</form>
{% endblock body %}
