{% extends "_user_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}

{% block body %}
<div class="ui grid">
  <div class="tem wide column">
    
  </div>
</div>
{% endblock body %}
