{% extends "_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}

{% block body %}
{% if message %}
<div class="ui message success">
  <i class="close icon"></i>
  <div class="header">
    {{message}}
  </div>
</div>
{% endif %}
<a href="/beer/new" class="ui right floated blue button">Cadastrar nova cerveja</a>
<h4 class="ui header">Cervejas</h4>
<div class="ui divider"></div>
<div class="ui grid">
{% for beer in beers %}
  <div class="four wide column">
    <div class="ui card">
      <div class="image">
        {% if beer.image %}
        <img src="static/images/{{ beer.image }}">
        {% endif %}
      </div>
      <div class="content">
        <a class="header">{{ beer.name }}</a>
        <div class="meta">
          <span class="date">{{ beer.type }}</span>
        </div>
        <div class="description">
          {{ beer.description }}
        </div>
      </div>
      <div class="extra content">
        R${{ beer.value }}
      </div>
      <a href="{{url_for('edit_beer', id=beer.id)}}" class="ui button">Editar</a>
      <a href="{{url_for('delete_beer', id=beer.id)}}" class="ui red button">Remover</a>
    </div>
  </div>
{% endfor %}
</div>

<script type="text/javascript">
  $('select.dropdown')
  .dropdown()
  ;
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>

{% endblock body %}
