{% extends "_user_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}

{% block body %}
<div class="ui grid">
  {% if session['cart']['beers'] or session['cart']['snacks'] %}
    <div class="ten wide column">
      <h2 class="ui header">Itens</h2>
      <table class="ui single line table">
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor unitário</th>
            <th>Valor total</th>
            <th>Opção</th>
          </tr>
        </thead>
        <tbody>
          {% for beer in session['cart']['beers'] %}
          <tr>
            <td><img src="../static/images/{{beer.image}}" alt="" class="ui middle aligned tiny circular image"></td>
            <td>{{ beer.name }}</td>
            <td>{{ beer.description }}</td>
            <td>{{ beer.quantity }}</td>
            <td>R${{ beer.value }}0</td>
            <td>R${{ beer.total_value }}0</td>
            <td>
              <a href="/remove_beer_cart/{{ beer.id }}">
                <i class="remove icon large red label"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% for snack in session['cart']['snacks'] %}
          <tr>
            <td><img src="../static/images/{{snack.image}}" alt="" class="ui middle aligned tiny circular image"></td>
            <td>{{ snack.name }}</td>
            <td>Porção</td>
            <td>{{ snack.quantity }}</td>
            <td>R${{ snack.value }}0</td>
            <td>R${{ snack.total_value }}0</td>
            <td>
              <a href="/remove_snack_cart/{{ snack.id }}">
                <i class="remove icon large red label"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="six wide column">
      <h2 class="ui header">Endereço de Entrega</h2>
      <div class="ui segment">

        <label for=""><b>Sub-total:</b></label> R${{ session['cart']['total'] }}0 <br>
        <label for=""><b>Frete:</b></label> R$5.00 <br>
        <label for=""><b>Total:</b></label> R${{ session['cart']['total'] + 5 }}0
        <div class="ui divider"></div>
        <label for=""><b>Bairro:</b></label> {{current_user.addresses[0].district}} <br>
        <label for=""><b>Rua:</b></label> {{current_user.addresses[0].street}} <br>
        <label for=""><b>Número:</b></label> {{current_user.addresses[0].number}} <br>
        <label for=""><b>CEP:</b></label> {{current_user.addresses[0].zip_code}} <br><br>
        <a href="/finalizing" name="button" class="ui teal button block">Finalizar compra</a>
        <a href="/" class="ui red button block">Cancelar</a>
      </div>
    </div>
  {% else %}
    <h1 class="ui header">Não há itens no carrinho!</h1>
  {% endif %}
</div>
{% endblock body %}
