{% extends "_base.html.j2" %}
{% block base %}
  {{ super() }}
{% endblock base %}


{% block body %}
<div class="ui grid">
  <div class="four wide column">
    <button type="button" class="ui blue button" name="button">Grafico 1</button>
  </div>
  <div class="four wide column">
    <button type="button" class="ui blue button" name="button">Grafico 1</button>
  </div>
  <div class="four wide column">
    <button type="button" class="ui blue button" name="button">Grafico 1</button>
  </div>
  <div class="four wide column">
    <button type="button" class="ui blue button" name="button">Grafico 1</button>
  </div>
</div>

<div class="ui segment">
  <div id="container" style="width:100%; height:400px;"></div
</div>

<script type="text/javascript">
$(function () {

  var response = {}

  $.ajax({
        url: "http://localhost:5000/sell_per_mark"
    }).then(function(response) {
      console.log(response[0])
      Highcharts.chart('container', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Cervejas mais vendidas (Por Marca)'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
              }
            }
          }
        },
        series: [{
          name: 'Brands',
          colorByPoint: true,
          data: response[0]
        }]
      });
    });

})
</script>

{% endblock body %}
