{% extends "_user_base.html.j2" %}
{% block navbar %}
  {{ super() }}
{% endblock navbar %}

{% block body %}
<div class="">
  <form action="" method="post">
    {{ form.csrf_token }}
    <div class="">
      <label>Email</label>
      {{ form.email(class="form-control", placeholder="email@email.com.br") }}
    </div>
    {% if form.email.errors %}
      <p class="">{{ form.errors.email }}</p>
    {% endif %}
    <div class="">
      <label>Passoword</label>
      {{ form.password(class="form-control") }}
    </div>
    {% if form.password.errors %}
      <p class="">{{ form.errors.email }}</p>
    {% endif %}
    <div class="">
      <label>
        {{ form.remember_me }} Remember me
      </label>
    </div>
    <button type="submit" name="button" class="ui button">Login</button>
  </form>
</div>
{% endblock body %}
